.header-nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    float: left;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 0px;
  }
  .menu-search {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    height: 2rem;
    .demo-loading-container {
      margin-right: 1rem;
    }
  }
}
